section {
	color: #f1f2f2;
}
h1.center-align{
	font-size: 100px;
	margin-top: 150px;
}
.homescreen{
	width: 50%;

	#gettingstarted{
		margin-left: 40%;
		margin-right: auto;
	}
}
.a{
	display: block;
}
.bkgImage{
	background: green url('../images/officedoc.jpg') center/cover;
	position: relative;

	#mainoverlay{
		position: absolute;
		background: rgba(7,31,36,0.5);
		top: 0;
		left: 0;
	}
}
.signform{
	width: 500px;
	margin: 0 auto;
	color: #c2c2c2;
	background: linear-gradient(black, #171a17, black);

	span{
		display: block;
		background: #3e2723;
		padding: 15px 10px;
	}
	span:hover{
		color: gray;
	}
}
.footer {
	margin-top: 20px;

	a {
		padding: 5px 10px 5px 0;
	}
}